
label{
    display: block;
    font-weight: bold;
	font-size: 12px;
	font-family: 'Roboto Condensed', sans-serif;

}

#LabelTitolo{
    width: 50%;
}

input{
    margin-bottom: 10px;
}

form{

    margin: 25px;
}

#bottoneInvio {
    width: fit-content;
    height: 30px;
	border: 1px solid grey;
	border-radius: 7px;
	margin-top: 5px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	text-align: center;
	color: grey;
	background-color: rgb(232, 232, 232);
	font-size: 12px;
}
#bottoneInvio:hover {
	background-color: grey;
	color: white;
	border-color: #1084a7;
}

#CambioPagina {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bottoneIndietro{
    width: max-content;
    height: 25px;

	border: 1px solid grey;
	border-radius: 7px;
	margin-top: 5px;
    margin-left: 25px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	color: grey;
	background-color: rgb(232, 232, 232);
	font-size: 12px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#bottoneIndietro:hover {
	background-color: grey;
	color: white;
	border-color: #1084a7;
    box-shadow: 2px 2px black;
}

h1 {
	margin: 15px;
}

#SuccessoP {
	margin: 15px;
	font-family: 'Roboto Condensed', sans-serif;
}

.ModaleAperta{
	overflow: hidden;
}